# Go build artifacts
bin/
build/
dist/
server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Temporary files
*.log
*.out
*.tmp

# Vendor (если не используешь go mod vendor)
vendor/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS junk files
.DS_Store
Thumbs.db

# Coverage
coverage.*
*.cov

# Cache
.cache/
